
@import "public";

.foothead{
    height: 256px;
    width: 1326px;
    margin: 0 auto;
    .fhul{
        width: 100%;
        margin-top: 28px;
        h5{
            font-size: 18px;
            margin-bottom: 14px;
        }
    }
    img{
        width: 140px;
        height: 50px;
        margin: 25px;
        margin-bottom: 0;
    }
    p{
        font-size: 12px;
        margin-left: 25px;
    }
}

.fhul>li{
    border-right: 1px dashed #bfbfbf;
    float: left;
    padding-left:68px ;
    width: 140px;
    line-height: 26px;
    height: 200px;
    a{
        color: #bfbfbf;
    }
}
.fhul>li>ul>li:hover{
    a{
        color:#ff6c00;
    }
}

.last{
    float: left;
}

.telbg{
    width: 210px;
    height: 38px;
    border-radius: 4px;
    background: #bfbfbf;
    margin-left: 25px;
    .tel{
        margin-left: 34px;
        background: #ff6c00;
        color: white;
        font-size: 22px;
        line-height: 38px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        padding-left: 9px;
        width: 168px;
    }
}

.footfinal{
    height: 162px;
    background: #333333;
    .footfinaltop{
        display: block;
        width: 762px;
        margin: 0 auto;
        padding-top: 27px;
        ul{
            height: 19px;
        }
        li{
            margin-left: 54px;
            padding-right: 16px;
            border-right: 1px solid #ababab;
            float: left;
            a{
                color: #ababab;
                font-size: 14px;
            }
        }
        .noborder{
            border: none;
        }
    }
    p{
        margin-top: 24px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 12px;
        color:rgba(171,171,171,0.5);
        span{
            font-size: 14px;
            color:#ababab;
            display: inline-block;
        }
    }
    .footlast{
        width: 288px;
        margin: 0 auto;
        .image{
            margin-top: 10px;
        }
        span{
            margin: 12px 4px 0 4px;
            display: inline-block;
            color:#ababab;
            font-size: 12px;
        }
    }
}
