<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<script src="../js/require.js" data-main="../js/index.js"></script>
	</head>
	<script type="text/html" id="productTemp">
		<ul>
			<% for(var i=0;i<8;i++){ %>
				<li>
					<img src="../img/new0.jpg"/>
					<p class="proName">送小收纳盒做的先加</p>
					<span class="price">￥134</span>
					<p class="proNum">仅剩3件</p>
					<div class="newestProductbtn">免费试用</div>
					<img src="../img/sech1.png" class="buyway"/>
				</li>
	
			<% } %>
		</ul>
	</script>
	<body>
		<div id="head"></div>
		<div class="bannerbg">
			<div class="bannercontent">
				
				<div class="sort">
					<ul>
						<li><a href="#">服装鞋包</a></li>
						<li><a href="#">居家日用</a></li>
						<li><a href="#">运动户外</a></li>
						<li><a href="#">时尚搭配</a></li>
						<li><a href="#">家用电器</a></li>
						<li><a href="#">百货建材</a></li>
						<li><a href="#">手机数码</a></li>
						<li><a href="#">母婴用品</a></li>
						<li><a href="#">综合商品</a></li>
					</ul>
				</div>
				<div class="banner">
					<ul>
						<li><img src="../img/201709041548007566.jpg"/></li>
						<li><img src="../img/201709041548495925.jpg"/></li>
					</ul>
				</div>
				<div class="notice">
					<div class="noticehead">网站公告</div>
					<div class="noticetop">
						<ul>
							<li><a href="#">超级试用震撼上线!</a></li>
							<li><a href="#">大大淘2017五一放假公告</a></li>
							<li><a href="#">感恩节!7天惠!</a></li>
						</ul>
					</div>
					<div class="noticemiddle">
						<img src="../img/head9.jpg"/>
						<ul>
							<li class="btncolor"><a href="#">登录</a></li>
							<li><a href="#">注册</a></li>
						</ul>
					</div>
					<div class="noticefoot">
						<div class="noticefleft">
							<ul>商家规则
								<li><a href="#">商家规则</a></li>
								<li><a href="#">什么是普通商家12345</a></li>
								<li><a href="#">什么是快速商家12345</a></li>
							</ul>
						</div>
						<div class="noticefright">
							<ul>试客规则
								<li><a href="#">试客规则</a></li>
								<li><a href="#">如何参加试客活动？</a></li>
								<li><a href="#">如何体现？</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contentbg">
			<div class="infor">
				<ul>
					<li class="infor1">已有<span>10844</span><p>位试客领到试用商品</p></li>
					<li class="infor2">已发布<span>10699</span><p>个试用商品活动</p></li>
					<li class="infor3">已有<span>16370</span><p>位商家入驻</p></li>
					<li class="infor4">已有<span>19773</span><p>位活跃试客</p></li>
				</ul>
			</div>
			<div class="recom clear">
				<h3>推荐试用</h3>
				<ul>
					<li><img src="../img/201709072246219087.jpg"/></li>
					<li><img src="../img/201709072246219087.jpg"/></li>
					<li><img src="../img/201709072246219087.jpg"/></li>
					<li><img src="../img/201709072246219087.jpg"/></li>
				</ul>
			</div>
			<div class="cuspro">
				<ul>
					<li><span>申请</span>获得试用资格</li>
					<li><span>下单</span>原价到指定平台购买</li>
					<li><span>提交订单编号</span>到大大淘提交付款的订单编号</li>
					<li><span>提交试用报告</span>提交图文并茂的试用报告</li>
					<li><span>提现</span>返款到您的大大淘账户并提现</li>
				</ul>
			</div>
			<div class="stopro">
				<ul>
					<li><span>发布试用活动</span>填写活动信息和活动要求</li>
					<li><span>缴纳保证金</span>存入商品保证金</li>
					<li><span>审核</span>审核申请试用的试客资格</li>
					<li><span>发货</span>确认订单号和试用报告</li>
					<li><span>返款</span>返款到试客的大大淘账户</li>
				</ul>
			</div>
			<div class="newest">
				<div class="newesthead">
					<span>————</span>
					<div class="newesttitle">
						<h4>最新试用</h4>
						<p>实时推荐最划算的宝贝</p>
					</div>
					<span>————</span>
				</div>
				<div class="newestProduct">
					<ul>			
					</ul>
				</div>
			</div>
			<div class="clothes">
				<div class="clothesLeft">
					<img src="../img/b111.png"/>
				</div>
				
			</div>
			<div class="daily">
				<div class="dailyLeft">
					<img src="../img/b12.png"/>
				</div>
				
			</div>
			<div class="fashion">
				<div class="fashionLeft">
					<img src="../img/b1234.png"/>
				</div>
				
			</div>
			<div class="athlete">
				<div class="athleteLeft">
					<img src="../img/b123.png"/>
				</div>
				
			</div>
		</div>
		
		
		<div id="foot"></div>
	</body>
</html>
